.navbar{
	background-color: black;
	border:transparent;
	font-weight: bold;

}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-toggle{
	background-color: yellow;
	color: white;
	border:transparent;
	width: 100px;	
	height: 50px;
	font-weight: bold;
}

.navbar-toggle .icon-bar{
	margin-left: 60px;
	margin-top:-30px;
	

}
.navbar-default .navbar-toggle .icon-bar{
	background-color: white;

}
#menuchico{
	margin-left: -25px;
	margin-top:-3px;
}

#start{
    color: yellow;
    font-family: 'Kaushan Script', cursive;
    font-size: 200%;
    z-index: 100;
}



.primersection{
	background-image: url(../img/header-bg.jpg);
	padding-bottom: 15%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.titulos{
	color: white;
	margin-top: 18%;	
}
.dos{
	font-size: 300%;
	
}

.its{
	font-size: 500%;
	font-weight: bold;
	margin-top: -8%;
	
}

.btn{
	background-color: yellow;
	color: white;
	border:transparent;
	width: 200px;	
	height: 60px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 3%;
}

/*seccion dos*/

h2{
	font-size: 35px;
	color: black;
	font-weight: bold;
	
}

.bajada{
	font-size: 15px;
	color: grey;
	padding-bottom: 5%;
}

#titeseis{
	font-weight: bold;
}

#icono{
	background-color: yellow;
	color: white;
	border-radius: 50%;
	padding: 5%;
}
#candado{
	background-color: yellow;
	color: white;
	border-radius: 50%;
	padding: 5%;
	width: 23%;
}

.dos{
	padding: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

/*seccion tres*/

.tres{
	background-color: #F0F0F0;
	padding-bottom: 10%;
	padding-top: 10%;
}
#cuadradas{
	width: 100%;
}

.blanco{
	background-color: white;
	height: 10%;
	width: 95%;
}

#arriba{
	padding-bottom: 5%;
}

/*seccion cuatro*/

.imagenuno{
	margin-bottom: 5%;
}

.imagendos{
	margin-bottom: 5%;
}

.titulodos{
	margin-top: 10%;
}

#circulo{
	width: 150px;
	height: 150px;
	border: 5px solid #F0F0F0;
}

.parr{
	margin-left: 30%;
}

#otrociiculo{
	width: 100px;
	height: 100px;
	border: 5px solid #F0F0F0;

}

.parrdos{
	margin-right: 30%;
}

#circulo2{
	margin-right: 15px;
	width: 150px;
	height: 150px;
	border: 5px solid #F0F0F0;
}

#circuloamarillo{
	background-color: yellow;
	color: white;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	border: 5px solid #F0F0F0;
	font-weight: bold;
	margin-right: 15px;
}

#circuloamarillo2{
	background-color: yellow;
	color: white;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	border: 5px solid #F0F0F0;
	font-weight: bold;
	font-size: 12px;
}

/*SECCION CINCO*/

#circulo3{
	margin-right: 15px;
	width: 200px;
	height: 200px;
	border: 5px solid white;
}

.cinco{
	background-color: #F0F0F0;
	
}
#arriba{
	margin-top: 5%;
}

.iconred{
	margin-top: -20px;
}
#redtw{
	background-color: black;
	color: white;
	font-size: 20px;
	border-radius: 50%;
	padding: 10px;
	margin:5px;
}

#redfa{
	background-color: black;
	color: white;
	font-size: 20px;
	border-radius: 50%;
	padding: 10px;
	margin:5px;
	width: 40px;
}

#redin{
	background-color: black;
	color: white;
	font-size: 20px;
	border-radius: 50%;
	padding: 10px;
	margin:5px;
	width: 38px
}


#textabajo{
	margin-top: 5%;
	margin-right: 10%;
	margin-left:10%;
}

/*seccion 6 utiliza stilos ya definidos antes*/
/*seccion siete*/

.siete{
	background-image: url(../img/map-image.png);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.contact{
	color: white;
	margin-top: 10%;
}
#campo{
	width: 500px;
	height: 50px;
	margin-bottom:20px;
}

#campogrande{
	width: 500px;
	height: 190px;

}

#messaje{
	margin-bottom: 10%;
}

#fot{
	margin:20px;
}

#privaci{
	color: yellow;
}
#pie{

	margin-right:20px;

}
