.navbar{
	background-color: transparent;
	border:transparent;
	font-weight: bold;

}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-left>li>a {
    color: yellow;
    font-family: 'Kaushan Script', cursive;
    font-size: 200%;
}



.primersection{
	background-image: url(../img/header-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.save{
	color: white;
	font-weight: bold;
	margin-top: 30%;	
}
.dos{
	font-size: 25px;
	font-weight: bold;
	
}

.btn{
	background-color: yellow;
	color: white;
	border:transparent;
}